#mahagonikep{
    float: right;
    height: 700px;
    width: 500px;
}
p{
    margin-left: 10px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
#blogjobb{
float: right;
width: 400px;
height: 300px;
}
#blogbal{
    float: left;
    width: 400px;
    height: 300px;
}
#cseresznye{
    float: right;
    height: 400px;
    width: 250px;
}
#blogszovjobb{
    float: left;
}
#blogszovbal{
    float: right;
}
link:hover{
    color: black;
    text-decoration: none;
}
a{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}
a:hover{
    color: whitesmoke;
    text-decoration: none;
}
