#mahagonikep{
    float: right;
    height: 700px;
    width: 500px;
}
p{
    margin-left: 10px;
}
#blogjobb{
float: right;
width: 500px;
height: 400px;
}
#blogbal{
    float: left;
    width: 500px;
    height: 400px;
}
#cseresznye{
    float: right;
    height: 400px;
    width: 250px;
}