#mahagonikep{
    float: right;
    margin: 20px;
    height: 450px;
    width: 400px;
    border-color: black;
    border: 5px solid black;
}
p{
    margin:10px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
#blogjobb{
float: right;
width: 400px;
height: 300px;
}
#blogbal{
    float: left;
    width: 400px;
    height: 300px;
}
#cseresznye{
    float: right;
    margin: 20px;
    height: 450px;
    width: 400px;
    border-color: black;
    border: 5px solid black;
}
#diofa{
    float: right;
    margin: 20px;
    height: 450px;
    width: 400px;
    border-color: black;
    border: 5px solid black;
} 

#blogszovjobb{
    float: left;
}
#blogszovbal{
    float: right;
}
a:hover{
    text-decoration:none;
    color: white;
}
a:link{
    text-decoration:none;
    color: white;
}
a:visited{
    text-decoration:none;
    color: white;
}
a:hover{
    text-decoration:none;
    color: white;
}
img {
    border-radius: 10%;
  }

#blog1kep{
    float: left;
    width: 300px;
}
#blog2kep{
    float: left;
    width: 300px;
}
#blog3kep{
    float: left;
    width: 300px;
}
#faanyagcim{
    text-align: center;
    background-color: #0275d8;
}
#fakeret{
    border-radius: 100%;
    border-color: black;
}
#blogcim{
    color: black;
}
#faany{
    margin-top: 25px;
}
#blogidezet{
    font-style: italic;
}
#carkepek{
height: 700px;
border-radius: 0%;
}
#carcim{
    background-color: black;
    opacity: 0.7;
    text-align: center;
}
#festek{
    margin: 15px;
}
#utsofestekek{
    margin-top: 15px;
}
#festekcim{
    width: 160px;
}
#festeknev{
    text-align: center;
}
#vasarlas{
    align-self: center;
}
#davidkep{
    float: left;
    width: 120px;
    height: 120px;
    border-color: black;
    border: 5px solid black;
    margin: 3px;
}
#rafikep{
    float: left;
    width: 120px;
    height: 120px;
    border-color: black;
    border: 5px solid black;
    margin: 3px;
}
#lampkep{
float: left;
width: 120px;
height: 120px;
border-color: black;
border: 5px solid black;
margin: 3px;
}
.rolunkszoveg{
    font-size: larger;
}
#marginn{
    margin: 50px;
}
#bukkfa {
    float: right;
    margin: 20px;
    height: 450px;
    width: 400px;
    border-color: black;
    border: 5px solid black;
}
#tolgyfa{
    float: right;
    margin: 20px;
    height: 450px;
    width: 400px;
    border-color: black;
    border: 5px solid black;
}